<Page>
    <ActionBar title="Profil Ibu"></ActionBar>

    <ScrollView>
        <StackLayout class="content">
            <RadDataForm [source]='profile'>
                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Data Akun" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties  name="disclaimer" hidden="true"></TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties  name="ibu_domisili" hidden="true"></TKEntityProperty>
                    <TKEntityProperty tkPropertyGroupProperties  name="is_domisili_valid" hidden="true"></TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="log" hidden="true"></TKEntityProperty>


                    <TKEntityProperty tkPropertyGroupProperties  name="email" displayName="Email" index="1">
                        <TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKEmailValidator tkEntityPropertyValidators></TKEmailValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="password" displayName="Kata Sandi" index="2">
                        <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="Kata sandi harus lebih dari 8 karakter"
                                                  length="9"></TKMinimumLengthValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="password_confirmation" displayName="Konfirmasi Kata Sandi" index="3">
                        <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="Kata sandi harus lebih dari 8 karakter"
                                                  length="9"></TKMinimumLengthValidator>
                    </TKEntityProperty>

                </TKPropertyGroup>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Data Lengkap Ibu" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties  name="ibu_nama" displayName="Nama Ibu" index="4">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus lebih dari 4 karakter"
                                                  length="4"></TKMinimumLengthValidator>
                        <TKMaximumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus kurang dari 30 karakter "
                                                  length="31"></TKMaximumLengthValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ibu_birthdate" displayName="Tanggal Lahir Ibu" index="5">
                        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>

                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ibu_alamat" displayName="Alamat Ibu" index="6">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus lebih dari 6 karakter"
                                                  length="7"></TKMinimumLengthValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ibu_agama" displayName="Agama Ibu" index="7">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>

                    </TKEntityProperty>

                </TKPropertyGroup>

                <TKPropertyGroup tkDataFormGroups collapsible="true" name="Data Lengkap Ayah" hidden="false">

                    <TKEntityProperty tkPropertyGroupProperties  name="ayah_nama" displayName="Nama Ayah" index="8">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus lebih dari 4 karakter"
                                                  length="4"></TKMinimumLengthValidator>
                        <TKMaximumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus kurang dari 20 karakter "
                                                  length="31"></TKMaximumLengthValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ayah_birthdate" displayName="Tanggal Lahir Ayah" index="9">
                        <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>

                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ayah_alamat" displayName="Alamat Ayah" index="10">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                        <TKMinimumLengthValidator tkEntityPropertyValidators
                                                  errorMessage="harus lebih dari 6 karakter"
                                                  length="6"></TKMinimumLengthValidator>
                    </TKEntityProperty>

                    <TKEntityProperty tkPropertyGroupProperties  name="ayah_agama" displayName="Agama Ayah" index="11">
                        <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                        <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>

                    </TKEntityProperty>

                </TKPropertyGroup>

                <!--<TKPropertyGroup tkDataFormGroups collapsible="true" name="Data Lokasi" hidden="false">-->

                    <!--<TKEntityProperty tkPropertyGroupProperties  name="provinsi_id" displayName="Provinsi" index="12">-->
                        <!--<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>-->
                        <!--<TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>-->
                    <!--</TKEntityProperty>-->

                    <!--<TKEntityProperty tkPropertyGroupProperties  name="kabupaten_id" displayName="Kabupaten" index="13">-->
                        <!--<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>-->
                        <!--<TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>-->
                    <!--</TKEntityProperty>-->

                    <!--<TKEntityProperty tkPropertyGroupProperties  name="kecamatan_id" displayName="Kecamatan" index="14">-->
                        <!--<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>-->
                        <!--<TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>-->
                    <!--</TKEntityProperty>-->

                    <!--<TKEntityProperty tkPropertyGroupProperties  name="kelurahan_id" displayName="Kelurahan" index="15">-->
                        <!--<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>-->
                        <!--<TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>-->
                    <!--</TKEntityProperty>-->

                <!--</TKPropertyGroup>-->

            </RadDataForm>
            <Button (tap)="update()" class="btn-def" text="Perbarui"></Button>
        </StackLayout>
    </ScrollView>

</Page>