/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~/nativescript-theme-core/css/sky.css";
ActionBar{
    color: white;
}

TabView {
    tab-text-color: #FFF;
    selected-tab-text-color: #FFFFFF;
    android-selected-tab-text-color: #FFFFFF;
}

Page{
    background-color: #eeeeee;
}

.btn-def {
    background-color: #f48fb1;
    /*margin-bottom: 5;*/
    color: #fafafa;
}

.title{
    font-size: 18pt;
    color: #333333;
}

.desc{
    font-size: 14pt;
}

.wrapper{
    padding: 16;
    border-bottom-width: 1;
    border-bottom-color:#E0E0E0;
}

.fab-button {
    height: 64;
    width: 64;
    margin: 15;
    background-color: #f48fb1;
    horizontal-align: right;
    vertical-align: bottom;
}

.card-list{
    margin-top: 12dp;
    margin-bottom: 4dp;
    margin-left: 16dp;
    margin-right: 16dp;
}
