<Page>
    <ActionBar [title]="anak.nama">
    </ActionBar>
    <ScrollView>
        <StackLayout class="content">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="anak">

                <TKEntityProperty tkDataFormProperty name="id" hidden="true" displayName="Telo"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="orangtua_id" hidden="true" displayName="Goreng"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="nama" displayName="Nama Anak">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>
                    <TKMinimumLengthValidator tkEntityPropertyValidators
                                              errorMessage="harus lebih dari 4 karakter"
                                              length="5"></TKMinimumLengthValidator>
                    <TKMaximumLengthValidator tkEntityPropertyValidators
                                              errorMessage="harus kurang dari 25 karakter "
                                              length="25"></TKMaximumLengthValidator>

                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="gender" displayName="Jenis Kelamin"  valuesProvider="L, P">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="birthdate" displayName="Tanggal Lahir">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>

            </RadDataForm>

            <ScrollView class="sub-menu" [visibility]="is_store ? 'collapsed' : 'visible' " orientation="horizontal">
                <StackLayout orientation="horizontal">

                    <StackLayout (tap)="goToTumbuh()" class="item-menu"  horizontalAlignment="center" >
                        <Image src="res://tumbuh"></Image>
                        <Label text="Pertumbuhan"></Label>
                    </StackLayout>

                    <StackLayout (tap)="goToKembang()" class="item-menu" horizontalAlignment="center">
                        <Image src="res://kembang"></Image>
                        <Label text="Perkembangan"></Label>
                    </StackLayout>

                    <StackLayout (tap)="goToVaksin()" class="item-menu" horizontalAlignment="center">
                        <Image src="res://vaccines"></Image>
                        <Label text="Vaksinasi"></Label>
                    </StackLayout>

                    <StackLayout class="item-menu" horizontalAlignment="center">
                        <Image src="res://kesehatan"></Image>
                        <Label text="Kesehatan"></Label>
                    </StackLayout>

                </StackLayout>
            </ScrollView>

            <GridLayout columns="*, *">
                <Button col="1" [text]='is_store ? "Tambah" : "Ubah"' (tap)="submit()" class="btn-def"></Button>
                <Button col="0" text="Hapus" [visibility]="is_store ? 'collapsed' : 'visible' " (tap)="delete()"></Button>
            </GridLayout>

        </StackLayout>
    </ScrollView>
</Page>