<Page>
    <ActionBar [title]="anak.nama">
    </ActionBar>
    <ScrollView>
        <StackLayout class="content">
            <RadDataForm tkExampleTitle tkToggleNavButton [source]="anak">

                <TKEntityProperty tkDataFormProperty name="id" hidden="true" displayName="Telo"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="orangtua_id" hidden="true" displayName="Goreng"></TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="nama" displayName="Nama Anak">
                    <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
                    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Tidak Boleh Kosong"></TKNonEmptyValidator>


                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="gender" displayName="Jenis Kelamin"  valuesProvider="L, P">
                    <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
                </TKEntityProperty>

                <TKEntityProperty tkDataFormProperty name="birthdate" displayName="Tanggal Lahir">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
                </TKEntityProperty>

            </RadDataForm>

            <GridLayout columns="*, *">
                <Button col="1" [text]='is_store ? "Tambah" : "Ubah"' (tap)="submit()" class="btn-def"></Button>
                <Button col="0" text="Hapus" [visibility]="is_store ? 'collapsed' : 'visible' " (tap)="delete()"></Button>
            </GridLayout>

            <ScrollView class="sub-menu" [visibility]="is_store ? 'collapsed' : 'visible'">
                <StackLayout>

                    <CardView class="card-list" margin="8" radius="8">
                        <StackLayout orientation="horizontal" padding="16dp" (tap)="goToTumbuh()" >
                            <Image src="res://tumbuh"></Image>
                            <StackLayout orientation="vertical">
                                <Label text="Pertumbuhan" class="title" ></Label>
                                <Label [text]="'Data tinggi dan berat badan '+anak.nama+' pada umur tertentu beserta analisanya'" textWrap="true" class="desc"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>

                    <CardView class="card-list" margin="8" radius="8">
                        <StackLayout orientation="horizontal" padding="16dp" (tap)="goToKembang()">
                            <Image src="res://kembang"></Image>
                            <StackLayout orientation="vertical">
                                <Label text="Perkembangan" class="title" ></Label>
                                <Label [text]="'Data mengenai perkembangan '+anak.nama+' pada umur tertentu, beserta analisanya'" textWrap="true" class="desc"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>

                    <CardView class="card-list" margin="8" radius="8">
                        <StackLayout orientation="horizontal" padding="16dp" (tap)="goToVaksin()">
                            <Image src="res://vaccines"></Image>
                            <StackLayout orientation="vertical">
                                <Label text="Vaksinasi" class="title" ></Label>
                                <Label [text]="'Data pemberian vaksin terhadap ' + anak.nama + ' beserta tanggalnya'" textWrap="true" class="desc"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>


                    <CardView class="card-list" margin="8" radius="8">
                        <StackLayout orientation="horizontal" padding="16dp" (tap)="goToHealthy()">
                            <Image src="res://kesehatan"></Image>
                            <StackLayout orientation="vertical">
                                <Label text="Kesehatan" class="title" ></Label>
                                <Label [text]="'Data kesehatan '+anak.nama+' pada umur tertentu'" textWrap="true" class="desc"></Label>
                            </StackLayout>
                        </StackLayout>
                    </CardView>

                </StackLayout>
            </ScrollView>

        </StackLayout>
    </ScrollView>
</Page>