.content{
    padding: 16dp;
}

.item-menu{
    margin-left: 16dp;
    margin-right: 16dp;
    margin-top: 32dp;
    margin-bottom: 32dp;
}

.sub-menu{
}

Image{
    height:50dp;
    width: 50dp;
    margin-right: 16dp;
}