<Page>
    <StackLayout>
        <Image src="res://logo" stretch="aspectFit" horizontalAlignment="center" height="300dp" ></Image>
        <Label class="text-login" text="Sahabat Bunda" horizontalAlignment="center"></Label>

        <TextField hint="Nama Pengguna" autocapitalizationType="none" [(ngModel)]="user.username" ></TextField>
        <TextField hint="Kata Sandi" secure="true" [(ngModel)]="user.password" ></TextField>

        <Button (tap)="login()" text="Masuk"></Button>
        <Label (tap)="register()" class="text-button" textAlignment="center" text="Buat Akun"></Label>
    </StackLayout>
</Page>