StackLayout {
    padding-left: 40;
    padding-right: 40;
    background-color: #fafafa;
}

Image {
    margin-top: 30;
}

TextField{
    margin-top: 10;
}


.text-login {
    font-size: 30pt;
    color: #2D9CDB;
}

.text-button{
    font-size: 18pt;
}
